html, body {
  width: 100%;
  height: auto;
  // overflow: auto;
  // background: #1f253d;
  background-image: linear-gradient(to bottom right, #0e1120, #4e5677);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}
// Header css -------------------------------------------------------------------------------
.header {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  background: #394264;
  border-radius: 5px;
  margin-top: 20px;

    .header-links {
      text-align: center;

      .left-links {
        width: 50%;
        display: flex;
        justify-content: space-around;

          .home-link, .favorites-link, .about-link {
            width: 100px;
            color: white;
            border: 1px solid transparent;
            line-height: 10px;

            &:hover {
              background: #4d5983;
              border-radius: 5px;
              border-bottom: 5px solid lightgreen;
              cursor: pointer;
            }
          }

      }
      a {
        text-decoration: none;
        color: white;
        line-height: 50px;

        .right-link {
          float: right;
          margin-right: 10px;
          width: 150px;

          &:hover {
            background: #4d5983;
            border-radius: 5px;
            // border-bottom: 5px solid lightgreen;
            cursor: pointer;
          }
        }
      }
    }
}
@media screen and (max-width: 640px) {
  .left-links {
    // width: 20%;
    margin-left: 10%;
    flex-direction: column;
  }
  .header {
    height: 160px;
  }
}
// Home.js css ------------------------------------------------------------------------------
.homepage {
 width: 90%;
 margin: 0 auto;
//  padding-top: 20px;
 height: 100vh;
 display: flex;
 justify-content: space-between;

  .left, .right {
    // border: 1px solid white;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }
  .middle {
    // border: 1px solid white;
    width: 100%;
    height: 100%;
  }
  .profile {
    font-weight: bold;
    text-align: center;
  }
  .card {
    background: #394264;
    width: 350px;
    font-size: 20px;
    margin: 0 auto;
    border-radius: 5px;
    // padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 25px;
    -webkit-box-shadow: 5px 8px 6px -6px black;
    -moz-box-shadow: 5px 8px 6px -6px black;
    box-shadow: 5px 8px 6px -6px black;

    .changeable-header {
      background: #4d5983;
      height: 40px;
      line-height: 40px;
      font-size: 18px;
      font-weight: bold;
      padding-left: 10px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;

      i {
        float: right;
        margin-right: 10px;
        line-height: 40px;

        &:hover {
          cursor: pointer;
        }
      }
    }
    .header {
      font-size: 24px;
      font-style: italic;
      padding-top: 10px
    }
    .card-content {
      width: 90%;
      margin: 0 auto;
    }
    img {
      width: 150px;
      height: 175px;
      border-radius: 50%;
      border: 5px solid #4d5983;
    }
    p {
      font-size: 16px;
    }
    .bottom-info {
      width: 100%;
      height: 50px;
      line-height: 50px;
      display: flex;

      .bottom-card {
        width: 100%;

        &:hover {
          background: #4d5983;
          cursor: pointer;
        }
      }

      .left-card {
        border-top: 5px solid rgb(81, 216, 81);
      }
      .middle-card {
        border-right: 1px solid white;
        border-left: 1px solid white;
        border-top: 5px solid rgb(201, 65, 65);
      }
      .right-card {
        border-top: 5px solid rgb(86, 86, 197);
      }

    }
  }
}
@media screen and (max-width: 1160px) {
  .homepage {
    flex-direction: row;

    .middle { order: 1; }
    .left { order: 2; }
    .right { display: none; }
  }
}
@media screen and (max-width: 770px) {
  // .left { display: none; }
  .homepage {
    flex-direction: column;
  }
}
// About.js css ---------------------------------------------------------------------------------
.about {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;

  .storybox {
    padding: 20px 50px 0 50px;
    margin-bottom: 20px;
    width: 75%;
    margin: 0 auto;
    background: #394264;
    border-radius: 5px;

    .story {
      font-size: 20px;
      font-family: fantasy;
    }

    .external-links {
      display: flex;
      padding-bottom: 20px;

      a {
        text-decoration: none;
        color: white;

        .github {
          width: 150px;
          height: 40px;
          border: 1px solid red;
          margin-left: 20px;
          line-height: 40px;
          text-align: center;
          border-radius: 5px;
          background: rgb(230, 73, 73);
  
          &:hover {
            cursor: pointer;
            background: red;
          }
          &:active {
            transform: translateY(2px);
          }
        }

        .linkedin {
          width: 150px;
          height: 40px;
          border: 1px solid blue;
          margin-left: 20px;
          line-height: 40px;
          text-align: center;
          border-radius: 5px;
          background: rgb(90, 90, 219);
  
          &:hover {
            cursor: pointer;
            background: blue;
          }
          &:active {
            transform: translateY(2px);
          }
        }
      }
    }
  }

}
// Favorites.js css ------------------------------------------------------------------------------
.favorites {
  width: 90%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  .row {
    background: #394264;
    width: 100%;
    margin-top: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
    -webkit-box-shadow: 5px 8px 6px -6px black;
    -moz-box-shadow: 5px 8px 6px -6px black;
    box-shadow: 5px 8px 6px -6px black;

    .book {
      display: flex;
      height: 100%;
      
      .card {
        width: 260px;
        text-align: center;
        height: 100%;
        margin: 0 20px 0 20px;
        font-size: 18px;
      }
    }
  }
  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
}