.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html, body {
  width: 100%;
  overflow: hidden;
  background: #1f253d;
}

// Header css -------------------------------------------------------------------------------
.header {
  width: 90%;
  height: 50px;
  margin: 0 auto;
  background: #394264;
  border-radius: 5px;
  margin-top: 20px;

    .header-links {
      text-align: center;

      .left-links {
        width: 40%;
        display: flex;
        // border: 1px solid red;
        justify-content: space-evenly;
        position: fixed;
        top: 0;

        .home-link, .favorites-link, .about-link {
          width: 100px;
          height: 50px;
          line-height: 50px;
          color: white;

          &:hover {
            background: #4d5983;
            border-radius: 5px;
            border-bottom: 5px solid lightgreen;
            cursor: pointer;
          }
        }
      }

      .right-link {
        float: right;
        margin-right: 10px;
        width: 150px;

        &:hover {
          background: #4d5983;
          border-radius: 5px;
          border-bottom: 5px solid lightgreen;
          cursor: pointer;
        }

        a {
          text-decoration: none;
          color: white;
          line-height: 50px;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .left-links {
    margin-left: 10%;
    flex-direction: column;
  }
  .header {
    height: 200px;
  }
}
// Home.js css ------------------------------------------------------------------------------
.homepage {
 width: 90%;
 height: 100vh;
 margin: 0 auto;
 padding-top: 20px;
//  display: flex;
//  flex-wrap: wrap;
//  justify-content: space-evenly;

  .card {
    height: 250px;
    width: 300px;
    border: 3px solid rgb(114, 114, 114);
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 7px #a0a0a0;
    -moz-box-shadow: 5px 7px #a0a0a0;
    box-shadow: 5px 7px #a0a0a0;

    .card-header {
      width: 100%;
      height: 40px;
      background: lightgray;
      font-size: 16px;
      font-weight: bold;
      line-height: 40px;
      text-align: center;

      i {
        float: right;
        line-height: 40px;
        margin-right: 10px;
        cursor: pointer;
      }
    }
    .card-content {
      width: 95%;
      height: calc(100% - 50px);
      margin: 0 auto;
      overflow: auto;

      .dropdown {
        z-index: 100;

        &:hover {
          background: gray;
          cursor: pointer;
          padding-left: 5px;
        }
      }
    }

    .other-cards {
      width: 100%;
      height: 100%;
      background: rgb(195, 195, 195);

      .new-cards {
        height: 40px;
        line-height: 40px;
        padding-left: 10px;

        &:hover {
          background: gray;
          cursor: pointer;
          padding-left: 5px;
        }
      }
    }
  }

  .profile-card {
    width: 300px;
    height: 500px;
    border: 3px solid rgb(114, 114, 114);
    background: white;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 5px 7px #a0a0a0;
    -moz-box-shadow: 5px 7px #a0a0a0;
    box-shadow: 5px 7px #a0a0a0;
    justify-content: center;


    .profile-header {
      width: 100%;
      height: 40px;
      background: lightgray;
    }

    .profile-content {
      width: 100%;
      height: calc(100% - 50px);
    }
  }

}
// About.js css ------------------------------------------------------------------------------
// Favorites.js css ------------------------------------------------------------------------------